@import 'tailwindcss';

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 475px;
  --breakpoint-tablet: 700px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --font-sans:
    Lilita, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-hand:
    Gaegu, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --background-color-fff-purple: #2e004b;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
    letter-spacing: 0.025em;
    user-select: none;
  }
}

@font-face {
  font-family: 'Lilita';
  src: url('https://res.cloudinary.com/di9kdiffd/raw/upload/v1765568416/assets/fonts/lilita.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gaegu';
  src: url('https://res.cloudinary.com/di9kdiffd/raw/upload/v1765568416/assets/fonts/gaegu-400.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gaegu';
  src: url('https://res.cloudinary.com/di9kdiffd/raw/upload/v1765568416/assets/fonts/gaegu-700.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#header-nav {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 100px 200px;
}

@keyframes blur {
  to {
    backdrop-filter: blur(10px);
    padding: 0.5rem 1rem;
    margin: 0;
  }
}